# XMPP Connectivity
jid:        node1@localhost/node1
password:   password
host:       localhost

# Deployment configuration
image_dir:      /stage/images
working_dir:    /stage/working
run_user:       circus

# Resources configuration
local_store_path:   /stage/local_data
dbus_system_path:   /etc/dbus-1/system.d