# XMPP Connectivity
jid:        booth1@localhost
password:   password
host:       localhost
#port:       5223

# Storage configuration. data_dir should be overridden in production with DATA_DIR property
data_dir:       /tmp/data
act_store:      http://localhost:9088/acts

# Build Configuration. build_dir should be overriden in production with BUILD_DIR property
build_dir:      /tmp/build
